/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* restore some styling*/
ul {   

    list-style-type: disc;   
    
    list-style-position: outside;
    
    padding-left: 1rem;
    
    }
    
    ol {   
    
    list-style-type: decimal;   
    
    list-style-position: outside;
    
    padding-left: 1rem;
    
    }
    
    ul ul, ol ul {   
    
    list-style-type: circle;
    
    }
    
    ol ol, ul ol {   
    
    list-style-type: lower-latin;
    
    }
    
    strong, b { 
    
    font-weight: bold;
    
    }
    
    em, i { 
    
    font-style: italic;
    
    }
    /* my custom CSS */
    html{
        padding: 0rem 1rem;
        font-size: 100%;
        background-color: grey;
    }
    body{
        padding: 1rem;
        margin: 0 auto;
        font: 100%/1.25 Arial, Helvetica, sans-serif;
        max-width: 1080px;
        line-height:1.5rem;
        background-color: white;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
        margin-top:2rem;
        margin-bottom: 1rem;
        margin-left:1.5rem;
    }
    img{
        border:grey 1px solid;
    }
    .persona-photo{
        float: left;
        padding:1rem;
        padding-top: 3rem;
        border:none;
        padding-left:3rem;
    }
    .ben-big-screenshot{
        padding:0 auto;
        display: flex;
        flex-flow: row nowrap;
    }
    .ben-big-screenshot img{
       width:calc((1080px - 14rem)/2);
       padding:1rem;
       margin: 1rem;
    }
    .ben-analysis{
        display: flex;
        flex-flow: row nowrap;
    }
    .ben-analysis-content{
       width:calc((100vw - 0rem)/2);
        margin:1rem;
        background-color: rgb(247, 241, 225);
        padding:1rem;
    }
   h3{
       font-size:1.25rem;
       font-weight: bold;
       text-align: center;
       margin-bottom: 1rem;
       padding-top: 1rem;
   }
   h4{
       font-weight:bold;
       font-size:1.15rem;
       margin-top: 1rem;
       text-decoration:underline;
   }
   .content{
      margin:0 1rem;
      background-color: rgb(247, 241, 225);
      padding: 2rem;
   }
   th{
       font-weight: bold;
       text-align: left;
   }
   td{
       padding-left:2rem;
   }
   .ben-persona-title{
    font-size: x-large;
    font-weight: lighter;
    }
    .user-info{
       font-weight: bold;
    }
   .ben-green{
       color:green;
       font-size:large
   }
   .ben-red{
       color:red;
       font-size:large;
   }
   .green{
    color:green;
}
.red{
    color:red;
}